.h1-center-mobile {
  color: #3a5290;
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
}

.h2-center-mobile {
  color: #333333;
  text-align: center;
  margin-top: 10%;
  font-weight: bold;
}
