@keyframes lavaSlide {
  0% {
  }
  50% {
    transform: translate3d(+45vw, -26.5vw, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ravaSlide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-45vw, -26.5vw, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes uSlide {
  0% {
    transform: translate3d(0, +45vw, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, +45vw, 0);
  }
}

.h1-center-mobile {
  color: #3a5290;
  text-align: center;
  margin-top: 15%;
  font-size: 32px;
  font-weight: bold;
}

.h2-center-mobile {
  text-align: center;
  margin-top: 10%;
  /* font-weight: bold; */
}

.avt-mobile {
  width: 45.57%;
  position: absolute;
  z-index: 1;
}

.avt-txt-mobile {
  position: absolute;
  width: 47.916vw;
  height: 45.57vw;
  text-align: center;
}

.avt-txt-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hackathon-avt-mobile {
  top: 5.2%;
  left: 6.5%;
}

.hackathon-txt-mobile {
  top: 5.2%;
  left: 52.1%;
  color: #1e0e3b;
}

.ci-avt-mobile {
  top: 23.3%;
  left: 48.1%;
}

.ci-txt-mobile {
  top: 23.3%;
  left: 0%;
  color: #3867d6;
}

.cp-avt-mobile {
  top: 41.5%;
  left: 6.5%;
}

.cp-txt-mobile {
  top: 41.5%;
  left: 52.1%;
  color: #eef272;
}

.prom-avt-mobile {
  top: 59.6%;
  left: 48.1%;
}

.prom-txt-mobile {
  top: 59.6%;
  left: 0%;
  color: #831d3d;
}

.tb-avt-mobile {
  top: 77.7%;
  left: 6.5%;
}

.tb-txt-mobile {
  top: 77.7%;
  left: 52.1%;
  color: #ffffff;
}

.avt-title-mobile {
  position: absolute;
  width: 45.57%;
  height: 24vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background: silver; */
}

.avt-title-mobile {
  margin-bottom: 20vw;
  font-weight: bold;
  font-size: 4vw;
}

.hackathon-title-mobile {
  top: 0;
  left: 6.5%;
}

.ci-title-mobile {
  top: 18.1%;
  left: 48.1%;
}

.cp-title-mobile {
  top: 36.3%;
  left: 6.5%;
}

.prom-title-mobile {
  top: 54.4%;
  left: 48.1%;
}

.tb-title-mobile {
  top: 72.5%;
  left: 6.5%;
}

.l-dance {
  animation: lavaSlide 2s linear infinite;
}

.r-dance {
  animation: ravaSlide 2s linear infinite;
}

.u-dance {
  animation: uSlide 2s linear infinite;
}

/* desktop */

@media only screen and (min-width: 1024px) {
  .event-desktop-container {
    margin: 5% 5%;
    width: 90%;
  }
}

@media only screen and (min-width: 1366px) {
  .event-desktop-container {
    margin: 5% 10%;
    width: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  .event-desktop-container {
    margin: 5% 15%;
    width: 70%;
  }
}

@media only screen and (min-width: 1920px) {
  .event-desktop-container {
    margin: 5% 25%;
    width: 50%;
  }
}

@media only screen and (min-width: 2560px) {
  .event-desktop-container {
    margin: 5% 35%;
    width: 30%;
  }
}

@media only screen and (min-width: 3048px) {
  .event-desktop-container {
    margin: 5% 35%;
    width: 30%;
  }
}

@keyframes animateLeft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes animateRight {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.slideLeft {
  position: relative;
  animation: animateLeft 0.4s;
}

.slideRight {
  position: relative;
  animation: animateRight 0.4s;
}

.event-desktop-container h1 {
  color: #3a5290;
  text-align: center;
  /* margin-top: 15%; */
  font-size: 32px;
  font-weight: bold;
}

.event-desktop-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.event-desktop-container h3 {
  text-align: center;
  margin: 5% 0;
}

.slide-background-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slide-background-row img {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.slide-avatar-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slide-avatar-row img {
  width: 25%;
  height: 25%;
  margin-top: -17%;
  box-shadow: 0px 10px 15px rgba(50, 50, 50, 0.4);
  z-index: 2;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-paragraph {
  width: 100%;
  height: 180px;
  margin-top: -5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-paragraph > p {
  font-size: 15px;
  width: 30%;
  text-align: justify;
  margin-top: 70px;
}

@keyframes iconSlideLeft {
  from {
    right: -30px;
  }
  to {
    right: 0;
  }
}

@keyframes iconSlideRight {
  from {
    left: -30px;
  }
  to {
    left: 0;
  }
}

.slide-swipe-left {
  font-size: 50px;
  cursor: pointer;
  position: relative;
}

.slide-swipe-right {
  font-size: 50px;
  cursor: pointer;
  position: relative;
}

.slide-swipe-left-animation {
  animation: iconSlideLeft 1s infinite;
}

.slide-swipe-right-animation {
  animation: iconSlideRight 1s infinite;
}
