/* background */

.bground-click:hover {
  cursor: pointer;
}

.bg-mobile-clb {
  overflow: auto;
  height: 848px; /* = 884 + 48 */
  width: 100%;
}

.bg-mobile-clb-img {
  /* margin-top: 48px; */
  height: 800px;
}

.bg-mobile-event {
  /* margin-top: 48px; */
}

.bg-mobile-event-img {
  width: 100%;
}

.bg-mobile-logo {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 48px;
}

.bg-mobile-logo-img {
  width: 200px;
}