/* navbar desktop */

.navbar-wrap {
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navbar {
  background: rgba(50, 50, 50, 0.8);
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
}

.navbar-e {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-e-t:hover {
  border-top: 1px solid #ffffff;
}

/* navbar mobile */

.navbar-mb {
  height: 48px;
}

.navbar-ul {
  /* position: absolute; */
  z-index: 999;
  background: rgba(50, 50, 50, 0.8);
  width: 100%;
  list-style: none;
  margin-top: 48px;
}

.navbar-li {
  border-bottom: 1px solid #ffffff;
  margin-right: 15%;
  padding: 2% 0;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.lang {
  text-align: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.navbar-li,
.navbar-li > a {
  color: #ffffff !important;
  font-size: 22px;
  font-weight: 400;
  margin-left: 2%;
}

.navbar-li-last {
  border: 0 none;
}

.navbar-e-global {
  cursor: default;
}

.global-wrap {
  width: 100px;
  display: flex;
  justify-content: center;
  offset: 4px;
}

.global-icon-desk {
  font-size: 22px;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}

.flat {
  margin: 0 10%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  /* opacity: 0; */
  transition: opacity 250ms ease-in-out;
}

.global-icon-desk:hover,
.flat:hover {
  opacity: 0.5;
}

/* Menu button */

.menu-icon {
  position: relative;
  /* width: 3em; */
  /* height: 2.25em; */
  width: 30px;
  height: 30px;
  display: inline-block;
}

.menu-icon span {
  margin-top: 3px;
  position: absolute;
  /* height: 0.1875em; */
  height: 2px;
  width: 100%;
  /* background-color: #363636; */
  background: #ffffff;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
  /* box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); */
}

.menu-icon span:nth-child(1) {
  top: 0.09375em;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 0.9375em;
}

.menu-icon span:nth-child(4) {
  top: 1.875em;
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
  /* background: #d00251; */
  background: #ffffff;
}

.menu-icon.is-active span:nth-child(1),
.menu-icon.is-active span:nth-child(4) {
  opacity: 0;
}

.menu-icon.is-active span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-icon.is-active span:nth-child(3) {
  top: 0.9375em;
  transform: rotate(-45deg);
}

/* spin icon global */

#global-icon {
  transition: all 0.5s linear;
}

#global-icon.global-active {
  transform: rotate(180deg);
}
