@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&subset=vietnamese');

/* first setup */

html {
  height: 100%;
  overflow: auto;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0 none;
  margin: 0 none;
  border: 0 none;
  color: #000000;
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #bdc3c7;
}

/* loader */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #3a5290;
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  animation-name: preloader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
  animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  animation-delay: -0.6s;
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}
