.partners-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 35%;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  line-height: 1.08;
}

.partners-text div,
.logo {
  opacity: 0;
  animation: partnerFadeIn 0.5s linear;
  animation-fill-mode: forwards;
}

.logo-wrapper {
  transition: transform 0.2s; /* Animation */
}

.logo-wrapper:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.partners-text div:nth-child(1) {
  animation-delay: 0.25s;
}

.partners-text div:nth-child(2) {
  animation-delay: 0.5s;
}

.partners-text div:nth-child(3) {
  animation-delay: 0.75s;
}

.partners-text div:nth-child(4) {
  animation-delay: 1s;
}

.partners-text div:nth-child(5) {
  animation-delay: 1.25s;
}

img.logo {
  height: 50px;
  margin-top: 20%;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo-block {
  margin-top: 12%;
}

.vertical-line {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 75vh;
  width: 1px;
  float: left;
}

@keyframes partnerFadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#logo1 {
  animation-delay: 1.5s;
}

#logo2 {
  animation-delay: 1.75s;
}

#logo3 {
  animation-delay: 2s;
}

#logo4 {
  animation-delay: 2.25s;
}

#logo5 {
  animation-delay: 2.5s;
}

#logo6 {
  animation-delay: 2.75s;
}

#logo7 {
  animation-delay: 3s;
}

#logo8 {
  animation-delay: 3.25s;
}

#logo9 {
  animation-delay: 3.5s;
}

#logo10 {
  animation-delay: 3.75s;
}

#logo11 {
  animation-delay: 4s;
}

#logo12 {
  animation-delay: 4.25s;
}

#logo13 {
  animation-delay: 4.5s;
}

/* mobile */

.partners-mobile-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  line-height: 1.08;
}

.partners-mobile-title div {
  opacity: 0;
  animation: partnerFadeIn 0.5s linear;
  animation-fill-mode: forwards;
}

.partners-mobile-title div:nth-child(1) {
  animation-delay: 0.25s;
}

.partners-mobile-title div:nth-child(2) {
  animation-delay: 0.5s;
}

.partners-mobile-title div:nth-child(3) {
  animation-delay: 0.75s;
}

.partners-mobile-title div:nth-child(4) {
  animation-delay: 1s;
}

.partners-mobile-title div:nth-child(5) {
  animation-delay: 1.25s;
}

.partners-row {
  display: flex;
  justify-content: space-around;
}

.partners-row img {
  height: 50px;
}
