/* mobile */

.ft-mb-contact {
  background: #f2f2f2;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ft-mb-logo {
  height: 96px;
}

.ft-mb-text {
  font-size: 11px;
  font-weight: 100;
  color: #333333;
}

.ft-mb-copyright {
  background: rgba(50, 50, 50, 0.8);
  height: 48px;
  font-size: 11px;
  font-weight: 100;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* desktop */

.ft-wrap {
  /* height: 260px;
  background: yellow; */
}

.ft {
  background: #f2f2f2;
  height: 280px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.ft-logo-slogan {
  padding-top: 64px;
  height: 164px;
  width: 164px;
}

.ft-logo {
  width: 164px;
}

.ft-slogan {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
}

.ft {
  font-size: 14px;
  font-weight: 100;
  color: #333333;
}

.ft-explore {
  padding-top: 64px;
  font-size: 22px;
  font-weight: bolder;
}

.ft-explore-content {
  margin-top: 6px;
  font-size: 14px;
  font-weight: lighter;
}

.ft-explore-content > a:link {
  color: #333333;
}

.ft-explore-content > a:visited {
  color: #333333;
}

.ft-explore-content > a:hover {
  color: #bdc3c7;
}
