@media only screen and (min-width: 1024px) {
  .year-wrap {
    margin: 5% 5%;
    width: 90%;
  }
}

@media only screen and (min-width: 1366px) {
  .year-wrap {
    margin: 5% 10%;
    width: 80%;
  }
}

@media only screen and (min-width: 1920px) {
  .year-wrap {
    margin: 5% 25%;
    width: 50%;
  }
}

@media only screen and (min-width: 3048px) {
  .year-wrap {
    margin: 5% 35%;
    width: 30%;
  }
}

.year {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.year-img-l {
  height: 300px;
}

.year-tex-r {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 0 0 5%;
}

.year-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: -8px;
}

.year-detail {
  /* text-align: justify; */
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
}

/* mobile */

.year-mb-wrap {
  width: 80%;
  margin: 0 10%;
  margin-top: 5%;
}

.year-mb-img {
  margin-top: 5%;
  width: 100%;
}

.year-mb-title {
  /* text-align: center; */
  margin-top: 5%;
  font-size: 22px;
}

.year-mb-detail {
  font-size: 14px;
  font-weight: 300;
}
