.year-wrap {
  margin: 5% 10% 5% 10%;
  /* width: 80%; */
}

.year {
  display: flex;
  /* background: red; */
  height: 443px;
  width: 100%;
  margin-bottom: 5%;
}

.year-img-l {
  /* background: blue; */
  height: 443px;
  width: 65%;
}

.year-tex-r {
  height: 443px;
  width: 35%;
  /* background: yellow; */
}

.year-title {
  margin-top: -2%;
  margin-left: 10%;
  height: 43px;
  font-size: 22px;
  font-weight: 500;
}

.year-detail {
  overflow-wrap: break-word;
  height: 400px;
  margin-left: 10%;
  font-size: 16px;
  font-weight: 300;
}

/* mobile */

.year-mb-wrap {
  width: 80%;
  margin: 0 10%;
  margin-top: 5%;
}

.year-mb-img {
  margin-top: 5%;
  width: 100%;
}

.year-mb-title {
  /* text-align: center; */
  margin-top: 5%;
  font-size: 22px;
}

.year-mb-detail {
  font-size: 14px;
  font-weight: 300;
}