.year-wrap {
  margin: 5% 10% 5% 10%;
  width: 80%;
}

.year {
  display: flex;
  height: 443px;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.year-img-l {
  height: 443px;
}

.year-tex-r {
  height: 443px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
}

.year-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5%;
}

.year-detail {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  overflow: scroll;
}

/* mobile */

.year-mb-wrap {
  width: 80%;
  margin: 0 10%;
  margin-top: 5%;
}

.year-mb-img {
  margin-top: 5%;
  width: 100%;
}

.year-mb-title {
  /* text-align: center; */
  margin-top: 5%;
  font-size: 22px;
}

.year-mb-detail {
  font-size: 14px;
  font-weight: 300;
}
